#main
  #why
    .icon img
      width: 55%
      height: auto
      margin-top: -50px
    .features
      margin-top: 50px
      .feature
        text-align: center
  .activity
    height: 150px
    margin-bottom: 30px
    .activity-img, .activity-descr, .activity-img img
      height: 100%
    .activity-img img
      max-height: 144px
      display: block
      margin: 0 auto
    .activity-desc
      text-align: left

