#main
  nav ul
    a
      font-size: 13px
    &.side-nav li
      width: 100%
    li
      float: none
  #atividades
    .icon img
      width: 55%
      height: auto
      margin-top: -50px
    .features
      margin-top: 50px
      .feature
        text-align: center

  .section-lines
    height: 100px
    border-width: 3px
    width: 50%
    &.section-top
      margin-top: -75px
      border-bottom: solid
    &.section-bottom
      margin-bottom: -75px
      border-top: solid
      border-bottom: none
    &.section-left
      margin-left: 50%
  .section-right
    border-right: solid
  .section-left
    border-left: solid
  .section-bottom
    border-bottom: solid

  .activity
    padding: 50px
    .activity-info
      .activity-title
        font-weight: 700
        margin-top: 10px
      .activity-time, .activity-place
        margin-top: 0px
      .activity-desc
        margin-top: 10px

@media screen and (max-width: 600px)
  #main
    #atividades
      .feature
        margin-bottom: 20px
        .feature-description
          margin-top: 0px

    .activity
      padding: 20px
      .activity-info-wrapper
        display: inline
        .activity-info
          text-align: center
        .activity-img
          width: 40%
          margin: 0 auto
          float: none

#sidenav-overlay
  z-index: 50

